<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header>
		<h1>titulo</h1>
		<img alt="aqui la imagen" src="D:\CLASES 2022\Programacion Visual\proyectos sts\TP4_Grupo27\src\main\resources\static\images\calendario-2022.png" title="calendario">
	</header>	
	<nav>
		<ul><a>inicio</a></ul>
		<ul><a>agenda</a></ul>
		<ul><a>beneficios y becas</a></ul>
		<ul><a>contactos</a></ul>
	</nav>
	<section>
		<p>Estimados/as docentes:
			Esperamos que se encuentren muy bien.
			Nos ponemos en contacto desde el Programa Provincial de Formación
			Docente Continua en Desarrollo Curricular y Educación Digital, a los fines de
			completar el proceso de acreditación de los Talleres para Docentes de los IES,
			en el marco del Anexo II: Dispositivos para Docentes de los Institutos de
			Educación Superior, y del Componente II: Talleres de formación periódicos
			para Docentes de los IES, coordinados por el Especialista en Mediaciones
			Tecnológicas, Lic. Pedro Luis Figueroa.</p>
	</section>
	<video src="D:\CLASES 2022\Programacion Visual\proyectos sts\TP4_Grupo27\src\main\resources\static\videos\paisajes.mp4" controls></video>
	<footer><p>2022.portal de capacitaciones - av. gral. manuel belgrano 789 - tel:(388)999999 S.S. de Jujuy Rep. Argentina</p></footer>
</body>
</html>