<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Beneficios</title>
</head>
<body>
	<header>
		<h1>Beneficios</h1>
		<img alt="benecicios de la capacitacion" src="../static/images/beneficios.jpeg" title="Beneficios" width="300px">
	</header>
	<nav>
	    <ul>
			<li><a href="index.html"> Inicio </a></li>
			<li><a href="agenda.html"> Agenda </a></li>
			<li><a href="beneficios.html"> Beneficios y becas </a></li>
			<li><a href="contacto.html"> Contactanos</a></li>
		</ul>
	</nav>
	
	<section>
		<p>Pagina en Construccion</p>
	</section>
	<footer><p> 2022. Portal de Capacitaciones - Av. Gral. Manuel Belgrano 789 - tel:(388)999999 S.S. de Jujuy Rep. Argentina</p></footer>
</body>
</html>