<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header>
		<h1>titulo</h1>
		<img alt="aqui la imagen" src="D:\CLASES 2022\Programacion Visual\proyectos sts\TP4_Grupo27\src\main\resources\static\images\imagenjava.jpg" title="imagenjava">
	</header>
	<nav>
		<ul><a> inicio (index.html) </a></ul>
		<ul><a> agenda </a></ul>
		<ul><a> beneficios y becas </a></ul>
		<ul><a>contactos</a></ul>
	</nav>
	<section>
		<h2>cursos con inscripcion abierta</h2>
		<ol><a>1 idiomas</a></ol>
		<ol><a>2 diseño</a></ol>
		<ol><a>3 desarrollo</a></ol>
		<ol><a>4 marketing</a></ol>
		<ol><a>5 conferencias</a></ol>
	</section>
	<footer><p>2022.portal de capacitaciones - av. gral. manuel belgrano 789 - tel:(388)999999 S.S. de Jujuy Rep. Argentina</p></footer>
</body>
</html>